# -*- mode: sh -*-
# configuration for termlink

### Port of the built-in IntelliJ http server
#
# [used when TERMLINK_APP=intellij]
INTELLIJ_PORT=63342

### Port of the Remote Call IntelliJ plugin http server
#
# [used when TERMLINK_APP=intellijRemoteCall]
INTELLIJ_REMOTE_CALL_PORT=8091

### Which function / program should be called when termlink is run
#
# Built-in:
#
# * `xdgOpen` - opens the file with the default application
# * `emacs` - opens the file in Emacs using `emacsclient`
# * `intellij` - opens the file in IntelliJ using its REST API
# * `intellijRemoteCall` - opens the file in IntelliJ using the Remote Call plugin
#
# The application / function should accept a single argument
# in the format: "PATH[:LINE[:COLUMN]]".
#
TERMLINK_APP=xdgOpen

####
#
# Add custom termlink handler functions here:
#
